﻿@model GameStore.Web.Areas.Moderator.ViewModels.DeleteCommentViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4>@GlobalRes.DeleteComment?</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("DeleteComment", "ModeratorComment", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="hidden" value="@Model.GameKey" name="GameKey" />
            <input type="submit" value="@GlobalRes.Delete" class="btn btn-info" />
            <a href="/games/@Model.GameKey/comments" class="btn btn-info">@GlobalRes.Cancel</a>
        }
    </div>
</div>