@model GameStore.Web.Areas.Manager.ViewModels.PlatformTypeViewModel

@{
    ViewBag.Title = GlobalRes.CreatePlatformType;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3 content col-lg-9">
    <div class="page-head">
        <div class="page-head__title float-left"><h2>@GlobalRes.CreatePlatformType</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="horizontal-line"></div><br /><br />
    <div class="row p-3">
        <div class="col-lg-4">
            @using (Html.BeginForm("CreatePlatformType", "ManagerPlatformType", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.LabelFor(Model => Model.TypeRu) <text>(ru)</text><br />
                @Html.EditorFor(Model => Model.TypeRu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.TypeRu)<br /><br />
                @Html.LabelFor(Model => Model.TypeEn) <text>(en)</text><br />
                @Html.EditorFor(Model => Model.TypeEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.TypeEn)<br /><br />
                <input type="submit" value="@GlobalRes.CreateButton" class="custom-btn" />
            }
        </div>
    </div>
</div>
<div class="side col-lg-3"></div>