@model GameStore.Web.Areas.Admin.ViewModels.RoleViewModel

@{
    ViewBag.Title = GlobalRes.CreateRole;
}

<div class="p-3 content col-lg-9">
    <div class="page-head">
        <div class="page-head__title float-left"><h2>@GlobalRes.CreateRole</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="horizontal-line"></div><br /><br />
    <div class="row p-4">
        <div class="col-lg-4">
            @using (Html.BeginForm("CreateRole", "Role", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.LabelFor(Model => Model.Name) <br />
                @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Name)<br /><br />
                <input type="submit" value="@GlobalRes.CreateButton" class="custom-btn" />
            }
        </div>
    </div>
</div>
<div class="side col-lg-3"></div>